<?xml version='1.0' encoding='utf-8'?>

<LatestRelease Version="2.0"/>

<configuration>
	<Assistant>
		<Information name="Gideon" IDNumber=""/>
	</Assistant>
	<Location>
		<InstalledLocation AssignedUser="" hostname=""/>
	</Location>
	<Deletion>true</Deletion>
	<Version>1.0</Version>
</configuration>